{% extends 'base.html' %}{% block body %} {% load static %} {% if error == "no" %}
<script>
    alert("Logged In Successfully");
    window.location = ('{% url "adminhome" %}');
</script>
{% endif %} {% if error == "yes" %}
<script>
    alert("Invalid Credentials, Please try again...");
</script>
{% endif %}


<div class="container mt-5">
    <div class="row" style="background-color: lightgray;">
        <div class="col-sm-6 mt-4 mb-4">
            <img src="{% static 'images/adminpage.jpg' %}" style="width: 90%; height: 350px;">
        </div>
        <div class="col-sm-6 mt-4 mb-4">
            <h2 class="text-center">ADMIN LOGIN</h2>
            <hr>
            <p style="text-align: center;">Enter your Username and Password for access the Admin Pannel...</p>
            <form method="POST">
                {% csrf_token %}
                <label class="mt-2">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter Your Username" required>
                <label class="mt-3">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter your Password" required>
                <input type="submit" class="btn btn-primary mt-4" value="LOGIN">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
