{% extends 'userbase.html' %}{% block body %} {% load static %} {% if error == "no" %}
<script>
    alert("Password Changed, Login again...");
    window.location = ('{% url "userlogout" %}');
</script>
{% endif %} {% if error == "yes" %}
<script>
    alert("Invalid Credentials, Please try again...");
</script>
{% endif %}



<div class="container mt-5">
    <div class="row" style="background-color: lightgray;">
        <div class="col-sm-6 mt-4 mb-4">
            <img src="{% static 'images/changepass.png' %}" style="width: 90%; height: 350px;">
        </div>
        <div class="col-sm-6 mt-4 mb-4">
            <h2 class="text-center text-danger" style="font-family: 'Monotype Corsiva';">CHANGE PASSWORD</h2>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <label>Old Password</label>
                <input type="password" class="form-control mb-3" name="old" placeholder="Old Password" required>
                <label>New Password</label>
                <input type="password" class="form-control mb-3" name="new" placeholder="New Password" required>
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="confirm" placeholder="Confirm Password" required>
                <input type="submit" class="btn btn-success mt-4" value="SUBMIT">
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}
